/build/
/app/build/
.gradle/
gradle/
gradlew
gradlew.bat
*.apk
*.apks
*.aab
*.iml
local.properties
.externalNativeBuild/
.cxx/
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/
*.log
*.tmp
*~
nohup.out
.AppleDouble
.LSOverride
.idea/